body 
{
    background-color:#f3f3f3
}

span
{
    float:left;
    clear:left;
}

#jsonString
{
    width:800px;
    height:600px;
    float:left;
    clear:left;
}

#graph
{
    clear:none;
    margin-left:40px;
}

#warning
{
    display:none;
    float:left;
    clear:left;
    color:Red;
}

#submit
{
    float:left;
    clear:left;
}

.d3Examples
{
    float:left;
    clear:left;
}

#circle
{
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background:#000
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

#chartId 
{
    float:left;
    clear:left;
}

.liveExample
{
    float:left;
    clear:left;
}
div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

.axis {
    display: inline-block;
    width: 30px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}


.chartLabel {
  font: 16px sans-serif;
  fill: #666;
}
.arcLabel {
  font: 10px sans-serif;
  fill: #fff;
}