body 
{
    background-color:#f3f3f3
}

span
{
    float:left;
    clear:left;
}

#jsonString
{
    width:600px;
    height:200px;
    float:left;
    clear:left;
    margin-bottom:20px;
}

#graph
{
    clear:none;
    margin-left:40px;
}

#real-life
{
  float:left;
  clear:left;
  font-weight: bold;
  padding-left: 10px
}

#warning
{
    display:none;
    float:left;
    clear:left;
    color:Red;
}

#submit
{
    float:left;
    clear:left;
}

.d3Examples
{
    float:left;
    clear:left;
}

#circle
{
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background:#000
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

#chartId 
{
    float:left;
    clear:left;
}

.liveExample
{
    float:left;
    clear:left;
}


div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

.axis {
    display: inline-block;
    width: 30px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

.rowbar{
  fill: steelblue;
}

.chartLabel {
  font: 16px sans-serif;
  fill: #666;
}
.arcLabel {
  font: 10px sans-serif;
  fill: #fff;
}

#states {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
}
 
#states .active {
  fill: orange;
}

#states .features{
    fill: grey;
}

#states .hover{
  fill: red;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 80px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.lineaxis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    opacity: 0.7;
    }
.stackChartAxisText {
    font: 10px sans-serif;
}

.axis line {
	fill: none;					/* don't fill areas bounded by the axis line */
	stroke: grey;				/* make the axis line grey */
	stroke-width: 1;			/* make the width of the axis lines 1 pixel */
	shape-rendering: crispEdges;/* make the edges sharp */
}