

<!DOCTYPE html>
<html>
    <head>
    <script type="text/javascript" src="lib/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.8.16.js"></script>
    <script type="text/javascript" src="lib/JSON.js"></script>
    <script type="text/javascript" src="lib/d3.v3.js"></script>
    <script type="text/javascript" src="lib/d3.v3.min.js"></script>
    <script type="text/javascript" src="jsfiles/functions.js"></script>
    <script type="text/javascript" src="lib/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.8.16.js"></script>
    <script type="text/javascript" src="lib/JSON.js"></script>
        <title>3DJS Charting Tests Homepage</title>
    </head>
    <body>
        <h1>This is a page to test charting using the 3DJS framework</h1>
        <br />
        <h2>Insert your JSON string here:</h2>
        <textarea id="jsonString" rows="10" style="width:800px; float:left; clear:left"></textarea>
        
        <label id="warning" type="text" style="display:none; float:left; clear:left"></label>
        <button id="submit" style="float:left; clear:left">Click Here</button>
        
        <span style="float:left; clear:left; margin-top:10px">Verify your JSON string <a target="_blank" href="http://jsonlint.com">here</a>.</span>
    </body>
</html>

