<!DOCTYPE html>
<html>
    <head>
    <script type="text/javascript" src="lib/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.8.16.js"></script>
    <script type="text/javascript" src="lib/JSON.js"></script>
    <script type="text/javascript" src="lib/d3.v3.js"></script>
    <script type="text/javascript" src="lib/d3.v3.min.js"></script>
    <script type="text/javascript" src="jsfiles/BarChartFunctions.js"></script>
    <script type="text/javascript" src="jsfiles/RowChartFunctions.js"></script>
    <script type="text/javascript" src="jsfiles/PieChartFunctions.js"></script>
    <script type="text/javascript" src="jsfiles/MapChartFunctions.js"></script>
    <script type="text/javascript" src="jsfiles/LineChartFunctions.js"></script>
    <script type="text/javascript" src="jsfiles/NewLineChartFunctions.js"></script>
    <script type="text/javascript" src="jsfiles/StackedBarChartFunctions.js"></script>
    <script type="text/javascript" src="lib/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.8.16.js"></script>
    <script type="text/javascript" src="lib/JSON.js"></script>
    <script type="text/javascript" src="http://x3dom.org/x3dom/example/x3dom.js"></script>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="bar.css" />
        <title>3DJS Charting Tests Homepage</title>
    </head>
    <body>
        <h1>This is a page to test charting using the 3DJS framework</h1>
        <br />
        <div class="submitJSON">
            <h2>Insert your JSON string here:</h2>
            <span id="chartOption">
                <input type="radio" name="chartOption" value="barChart" checked="checked">Bar Chart</input>
                <input type="radio" name="chartOption" value="barChart3D" checked="checked">Bar Chart 3D</input>
                <input type="radio" name="chartOption" value="rowChart">Row Chart</input>
                <input type="radio" name="chartOption" value="stackBarChart">Stacked/Grouped Chart</input>
                <input type="radio" name="chartOption" value="pieChart">Pie Chart</input>
                <input type="radio" name="chartOption" value="lineChart">Line Chart</input>
                <input type="radio" name="chartOption" value="newLineChart">New Line Chart</input>
                <input type="radio" name="chartOption" value="lineDateChart">Line Chart with dates</input>
                <input type="radio" name="chartOption" value="mapChart">Map Chart</input>
            <span>
            <button id="submit">Create Chart</button>
            <textarea id="jsonString" rows="10"></textarea>
            <span id="graph"></span>
            <div id="d3portfolio"></div>
            <label id="warning" type="text"></label>
            
            <span>Verify your JSON string <a target="_blank" href="http://jsonlint.com">here</a>.</span>
        </div>
        
        <div class="d3Examples">
            <h2>3DJS examples</h2>
            <p>Paragraph that changes colors everytime the page reloads.</p>
            <span id="testId">Another paragraph that changes colors selected by Id.</span><br />
            <span id="colorId">Changing colors by transition, selected by Id.</span><br />
            <div id="circle">Circle</div>
            <div id ="chart"></div>
        </div>
        <div class="liveExample">
            <h2>Live Example (checkout the code in functions.js)</h2>
        </div>
        <div class="moreinfo">
            <span>Check out the D3 API Reference <a target="_blank" href="https://github.com/mbostock/d3/wiki/API-Reference">here</a>.</span>
            <span>More D3 tutorials <a target="_blank" href="https://github.com/mbostock/d3/wiki/Tutorials">here</a>.</span>
        </div>

        
    </body>
</html>

