

<!DOCTYPE html>
<html>
    <head>
    <script type="text/javascript" src="lib/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.8.16.js"></script>
    <script type="text/javascript" src="lib/JSON.js"></script>
    <script type="text/javascript" src="lib/d3.v3.js"></script>
    <script type="text/javascript" src="lib/d3.v3.min.js"></script>
    <script type="text/javascript" src="jsfiles/functions.js"></script>
    <script type="text/javascript" src="lib/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.8.16.js"></script>
    <script type="text/javascript" src="lib/JSON.js"></script>
        <title>3DJS Charting Tests</title>
    </head>
    <body>
        <h1>This is a page to test charting using the 3DJS framework</h1>
        <br />
        <h2>Insert your JSON string here:</h2>
        <textarea id="jsonString" rows="10" style="width:800px"></textarea>
        <br />
        <label id="warning" type="text" style="display:none; float:left"></label>
        <button id="submit">Click Here</button>
		
		
		
		
        
    </body>
</html>

